%table
  %tr
    %td.right
      = t('shopping_cart.item_total')
    %td.left
      = price presenter.order.subtotal
  %tr
    %td.right
      = t('shopping_cart.order_total')
    %td.left
      = price presenter.order.total
