= link_to 'Cart', shopping_cart.edit_order_path(current_order.id)
%br
= link_to 'Sign out', destroy_user_session_path, method: :delete
%br
- Book.all.each do |book|
  = link_to "Add #{book.title}", add_book_path(book_id: book.id)
